/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 */

$progress-colour: #39f;
$meter-height: 30px;

body, table, tr, th, hd, span, div, input {
  margin:  0px;
  padding: 0px;
  font-family: "Droid Sans";
  color: #eee;
}

body {
  background: image-url("black-linen.png");
}

#header {
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 35px;
  color: #eee;
  background-color: #222;
  @include background-gradient(#333, #222);
  @include box-shadow(inset 0 -1px 0 rgba(0, 0, 0, 0.1));
  #stats-holder {
    float: left;
    margin: 6px 15px;
    #stats {
      &.negative {
        color: #39f;
        border-color: #39f;
      }
    }
  }

  a {
    text-decoration: none;
    float: left;
    margin-top: 6px;
    cursor: pointer;
  }
}

#bottom-content {
  #new-task {
    width: 320px;
    float: left;

    table {
      td, th {
        padding: 13px 13px 0px 13px;
      }
    }
  }
}

table {
  th {
    text-align: left;
  }
}

@mixin field {
  $shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
  @include box-shadow($shadow);
  @include border-radius(3px);
  border: 1px solid #ccc;
}

input[type="text"], input[type="password"] {
  width: 200px;
  height: 18px;
  padding: 4px;
  font-size: 13px;
  color: #888;
  @include field;
  margin: 5px 5px;

  &:active, &:hover, &:focus {
    $shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1), -1px -1px 12px rgba(82, 168, 236, 0.6), 1px 1px 12px rgba(82, 168, 236, 0.6);
    @include box-shadow($shadow);
    outline: none;
  }

  &.day-quota {
    width: 30px;
    font-size: 12px;
    height: 10px;
    @include box-shadow(none);
  }

  &.filled { color: #000; }
}

input[type="submit"] {
  @include button(#555);
  color: #eee;
  text-shadow: none;
  margin: 3px;
}

form {
  td {
    text-align: right;
  }
}

.pill-button {
  float: left;

  &.positive { a { @include button(rgb(50, 50, 50)); } }
  &.negative { a { @include button(rgb(60, 60, 60)); } }

  padding: 0px;
  margin: 0px 5px;
  text-align: center;

  &.large {
    a {
      font-size: 28px;
      width: 15px;
      height: 15px;
      line-height: 15px;
    }

    &.negative {
      a { line-height: 10px; }
    }
  }

  &.small {
    a {
      font-size: 20px;
      width: 10px;
      height: 10px;
      line-height: 10px;
      margin-top: 3px;
    }
  }

  a {
    display: block;
    text-decoration: none;
    color: #ddd;
}
}

#top-container {
  margin: 0px 38px;
  #schedule {
    width: 620px;
    float: left;
  }
  #control-panel {
    float: left;
  }
}

#days-chart {
  height: 300px;
  margin: 40px 160px 40px 40px;

  .legend {
    background-color: rgba(0, 0, 0, 0.5);
    td {
      padding: 10px;
    }
  }
}

img.graph-visible {
  display: none;
}

div.graph-visible, div.graph-hidden { cursor: pointer; }
.graph-button {
  cursor: pointer;

  &:hover {
    $shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1), -1px -1px 12px rgba(82, 168, 236, 0.6), 1px 1px 12px rgba(82, 168, 236, 0.6);
    @include box-shadow($shadow);
    outline: none;
  }
}

#loader-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;

  #loader {
    margin: 200px auto;
    background: rgba(0, 0, 0, 0.9) image-url("ajax-loader.gif") no-repeat center center;
    width: 80px;
    height: 80px;
    @include border-radius(10px);
  }
}

.tooltip {
  display: inline-block;

  .tooltip-text {
    z-index: 999;
    position: absolute;
    background-color: #000;
    color: #eee;
    padding: 10px;
    font-size: 80%;
    display: none;
    margin-top: 10px;
    @include border-radius(5px);

    &:before {
      content: ' ';
      position: absolute;
      margin-top: -19px;
      width: 0px;
      height: 0px;
      left: 50%;
      margin-left: -9px;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 9px solid #000;
    }
  }
}
